* {
    padding: 0;
    margin: 0;
}

html,
body {
    width: 100%;
    height: 100%;
    overflow-y: hidden;
}

#main {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.w100 {
    width: 100%;
}

#main .btnGroup {
    height: 100px;
    border-bottom: 2px solid lightblue;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 0px 20px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

#main .btnGroup button {
    margin-right: 10px;
    padding: 2px 4px;
    cursor: pointer;
}

#main #model {
    height: calc( 100% - 100px);
    box-sizing: border-box;
    position: relative;
}

.diffView {
    position: absolute;
    left: 30px;
    top: 20px;
}

.diffView button {
    padding: 5px;
    margin-left: 10px;
}

#direciontBtn {
    display: none;
}

.lightBannel {
    position: absolute;
    top: 5px;
    right: 10px;
    width: 30%;
    height: 210px;
    border-radius: 10px;
    overflow: hidden;
    background: url('../imgs/category-border.png');
    background-size: 100%;
    box-sizing: border-box;
    padding: 10px 15px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    display: none;
    color: red !important;
}

.lightBannel input,
.lightBannel label {
    cursor: pointer;
}

.lightBannel .title {
    font-size: 20px;
    font-weight: bolder;
    font-family: '楷体';
    text-align: center;
    color: red;
}

.lightBannel .lights {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding: 10px 0px 10px 0px;
}

.lightBannel .lights .lightTitle {
    display: inline-block;
    width: 50%;
    text-align: right;
    margin-right: 20px;
}

.lights>div label {
    margin-right: 25px;
}


/* 视点 */

.viewPoint {
    position: absolute;
    top: 5px;
    right: 10px;
    width: 30%;
    height: 270px;
    border-radius: 10px;
    overflow: hidden;
    background: url('../imgs/category-border.png');
    background-size: 100%;
    box-sizing: border-box;
    padding: 10px 15px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    color: red !important;
    display: none;
}

.viewPoint .title {
    text-align: center;
    font-size: 20px;
    color: black;
    font-weight: bolder;
    line-height: 25px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-decoration: underline;
}

.viewPoint .box {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.viewPoint .box>div .title {
    color: 15px;
    font-size: 15px;
    font-weight: bold;
    line-height: 35px;
    text-decoration: none;
}